@use '@angular/material' as material;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-snack-bar-container.info-snackbar {
  --mdc-snackbar-container-color: #2196f3;
  --mat-snack-bar-button-color: #ffffff;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.header {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 66px;
}

video,
.video-skeleton {
  aspect-ratio: 1 / 1;
  max-width: 100%;
  width: 700px;
}

.dense {
  @include material.all-component-densities(-3);

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
